@charset "utf-8";
/*CSS Document*/

/*公用*/
.comWidth{
    width: 1000px; margin-left: auto; margin-right: auto;
}
.leftArea{
    float: left;
}
.rightArea{
    float: right;
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul{
    margin: 0; padding: 0;
}

/*topBar*/
.topBar{
    height: 31px; background-color: #f7f7f7; line-height: 31px;
}
.collection{
    background: url(../images/icon/collection.png) left center no-repeat; padding: 39px;
    font-weight: bold;
}
.topBar a:hover{
    color: red;
}

/*logoBar*/
.logoBar{
    height: 85px; background-color: #ffffff;
}
.logo{
    padding-left: 41px; padding-top: 13px;
}

/*search*/
.search_box{
    width: 430px; border: 3px solid #f69; margin-top: 25px;margin-left: 150px;
}
.search_text{
    width: 350px; height: 35px; padding:0px 5px; background-color: #f9f9f9; line-height: 35px\9;
}
.search_btn{
    width: 70px; height: 35px; font-size: 14px; font-family: "Microsoft YaHei","微软雅黑";
    background-color: #f69; color: #f7f7f7; cursor: pointer;
}
.shopCar{
    width: 165px; height: 35px; background-color: #ffffff; margin-top: 23px;
    font: 17px/15px "Microsoft YaHei", "微软雅黑"; color: #000; cursor: pointer;
    line-height: 40px;
}
.shopText{
    height: 20px; width: 20px; border-right: #ffffff solid 1px;
    background: url(../images/icon/global.png) no-repeat; text-indent: 40px;
    background-position: 0 -161px; zoom: 2;
}
.shopNum{
    width: 20px; height: 20px; background: url(../images/icon/global.png) no-repeat;
    text-align: right; background-position: -33px -161px; zoom: 2; margin-left: 3px;
}

/*导航*/
.navBox{
    height: 36px; background-color: #f69; color: #ffffff;
}
.shopClass{
    width: 190px;
}
.shopClass h3{
    text-align: center; line-height: 35px;
}
.nav, .shopClass{
    font-family: "Microsoft YaHei","微软雅黑";
}
.nav{
    line-height: 35px;
}
.nav li{
    float: left;
}
.nav a{
    height: 36px; display: inline-block; padding: 0px 35px; color: #ffffff;
}
.nav .active{
    background-color: #ebcccc;
}

/*产品详情展示*/
.clearfix{
    clear: both;
}
#page{
    margin-left: auto;margin-right: auto; width: 1190px; color: #333;
}
.pm-main h1{
    margin-top: 22px; margin-bottom: 12px; font-size: 16px; color: #333;
}
.grid-c{
    width: 1190px; margin: 0 auto; color: #666;
}
.pm-main{
    position: relative; z-index: 6; border: 1px solid #e9e9e9; padding-left: 18px;
}
.pm-main-1{
    width: 440px;float: left;display: inline;
}
.pm-pic{
     border: none;position: relative; z-index: 1;
    margin: 0 10px 0 0 ; overflow: hidden; background: #f7f7f7;
}
.pm-s425{
    width: 438px; height: 295px;
}
.ks-imagezoom-warp{
    text-align: center;
}
.pm-pic img{
    max-width: 440px; max-height: 295px;border: none;
}
.pm-pic a{
    display: table-cell; vertical-align: middle; text-align: center;
}
.ks-imagezoom-icon{
    display: block;position: absolute;height: 23px;width: 23px; right: -1px;bottom: -1px;
    border-right:1px solid #999; border-bottom: 1px solid #999;
    background: url("../images/icon/seach-23-23.png") no-repeat scroll left top transparent;
}
.pm-thumb li{
    float: left;
}
.pm-s80{
    width: 76px; height: 52px; margin-top:8px;
}
.pm-s80 img{
    max-width: 80px;max-height: 52px;
}
.pm-pic a img{
    border: 0; vertical-align: middle;
}
.pm-pic-last{
    margin-right: 0;
}
.pm-selected .pm-s80{
    border: 2px solid #d91615; width: 76px;
}
.pm-remind{
    margin-top: 16px; padding-top: 6px;color: #bbb; font-size: 18px; font-weight: 200;
    font-family: tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif; height: 34px;
}
.i-b{
    display: inline-block;
}
.pm-apply{
    margin-right: 15px; font-size: 12px;
}
.pm-remind em{
    font-style: normal; font-weight: 400; color: #666; font-size: 16px;
}
.pm-separate{
    height: 18px;width: 1px;border-left: 1px solid #eee; vertical-align: middle;
}
.pm-surround{
    margin-left: 15px; font-size: 12px;
}
.pm-reminder{
    margin-left: 15px; margin-right: 15px;font-size: 12px;
}
.auction-interaction{
    width: 512px; min-height: 470px; position: relative; top: -9px;
}
#sf-price{
    z-index: 9; margin-bottom: 0;
}
.pm-bid-eyebrow li{
    position: relative; margin-bottom: 10px;margin-top: 10px;
}
.auction-interaction .title{
    margin-left: 20px; margin-right: 27px;
}
.pm-current-price{
    color: #d91615;
}
.pm-bid-eyebrow em{
    font-weight: 700; font-family: arial; margin: 0 3px 0 -5px;
}
.pm-current-price em{
    font-size: 26px;
}
.pm-bid-eyebrow .rmb-unit{
    color: #d91615;
}
.pm-bid-eyebrow .countdown{
    margin-left: -2px;
}
.pm-bid-eyebrow .countdown var{
    font-size: 25px; margin: 0 5px; padding: 0 5px;
}
.pm-bid-eye{
    position: relative;
}
.status-ing{
    background-position: -2px -106px;
}
.status-tip{
    position: absolute; top: 0; right: 3px; display: inline-block;width: 56px; height: 22px;
    background: url("../images/icon/buy-255-205.png") no-repeat 0 0 transparent;
    background-position: -2px -103px;
}
.pm-bid{
    background-color: #f3f3f3; padding: 12px 20px 11px; color: #666; min-height: 136px;
}
.pm-bid dl{
    margin-top: 10px;
}
.pm-bid dt{
    width: 50px;text-align: left; margin-right: 15px; height: 40px; line-height: 40px;
}
.pm-bid dd,.plus-minus-operation{
    float: left; position: relative; width: 403px;
}
.pm-bid .pm-price-input{
    width: 236px;height: 40px;float: left;line-height: 40px;
}
.pm-before-apply input, .pm-before-start input{
    color: #999;
}
.pm-bid input, .pm-bid select{
    border: 1px solid #c2bbba; vertical-align: middle; font-size: 20px; padding-left: 10px;
}
input{
    outline: 0;
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif;
}
.pm-sign{
    float: left; margin-left: 2px;
}
.pm-before-apply .pm-sign .plus, .pm-before-apply .pm-sign .plus:hover, .pm-before-start .pm-sign .plus, .pm-before-start .pm-sign .plus:hover{
    background: transparent url("../images/icon/begin-250-72.png") 0 -52px no-repeat;
}
.pm-sign .plus{
    height: 19px;background-position: 0 0 ; margin-bottom: 1px;
}
.pm-sign .minus, .pm-sign .plus{
    display: block;width: 30px;text-indent: -999em;
    background: transparent url("../images/icon/buy2-278-406.png") no-repeat -999px -999px;
}
.pm-before-apply .pm-sign .minus, .pm-before-apply .pm-sign .minus:hover, .pm-before-start .pm-sign .minus, .pm-before-start .pm-sign .minus:hover{
    background: transparent url("../images/icon/begin-250-72.png") -33px -52px no-repeat;
}
.pm-sign .minus{
    height: 20px;background-position: 0 -20px;
}
label {
    cursor: default;
}
body .clearfix{
    clear: none !important;
}
a.on-btn, a.pm-apply-button{
    border-color: #ba0100; background-color: #d91615; color: #fff; font-size: 20px;
}
.pm-button-new{
    width: 248px;height: 33px; line-height: 33px; text-align: center; font-size: 14px;
    border: 1px solid transparent;
}
.tbc-pm-notify-btn{
    position: relative;
}
body .i-b{
    display: inline-block;
}
.pm-subscribe{
    margin-left: 10px; vertical-align: middle;top: -6px;
}
.tbc-pm-notify-btn-sf-fg a .icon-hollow{
    display: inline;
}
.tbc-pm-notify-btn em{
    font-style: normal;
}
.tbc-pm-notify-btn-sf-fg a .tbc-pm-notify-iconfont{
    font-size: 16px; color: #d91615;
}
.tbc-pm-notify-iconfont{
    background: url("../images/icon/broadcast.png") no-repeat; width: 18px;height: 18px;
    display: inline-block; margin-left: 30px; margin-right: -15px;
}
.pm-bid-mouse{
    padding: 20px 0; line-height: 24px; width: 512px;height: 120px;
    background: url("../images/icon/background-489-95.png") no-repeat 20px bottom;
}
.pai-pay-infor{
    border-collapse: collapse; width: 100%;height: 80px;
}
colgroup{
    display: table-column-group;
}
.pai-pay-infor tr{
    padding: 0;
}
tr{
    display: table-row; vertical-align: inherit;border-color: inherit;
}
.pm-bid-right{
    position: absolute; top: 0; right: 0; width: 218px;border-left: 1px solid #e9e9e9;
    height: 100%;z-index: 7; font-family: '\5b8b\4f53',arial tahoma,'Hiragino Sans GB',sans-serif;
    background: url("../images/icon/background2-10-94.png") repeat-x 0 0 #fff;
}
.pm-bid-right .record-wrap{
    margin: 8px 12px; height: 294px;
}
.pm-bid-right .record-wrap h3{
    font-size: 14px;color: #444; padding: 16px 0; height: 20px; line-height: 20px; font-weight: 400;
    border-bottom: 1px solid #eeecec;
}
.pm-bid-right .record-wrap h3 span{
    color: #666; font-size: 12px;
}
.pm-bid-right .record-wrap .no-record{
    text-align: left; color: #848484;
}
.pm-bid-right .share-wrap{
    padding: 10px 0;text-align: center; border-top: 1px solid #eeecec;
}
.auction-process-container{
    height: 110px; margin-top: 20px; border: 1px solid #eeecec;
}
.auction-process{
    float: left;width: 138px;height: 70px; padding-top: 40px; text-align: center; background-color: #f6f6f6;
}
.auction-process-help a{
    font-size: 12px; color: #333;
}
.auction-process-container a{
    text-decoration: none;
}
.auction-process h3{
    margin: 3px 0; font-size: 18px;
}
.auction-process-step{
    float: left;padding: 19px 16px; background: url("../images/icon/next-16-25.png") no-repeat right 20px;
}
.auction-process-step div{
    margin-left: 20px;
}
.auction-process-step div a{
    font-size: 16px; color: #000; font-weight: 700; font-family: "Microsoft YaHei", "微软雅黑";
}
.auction-process-step ul{
    width: 120px; clear: both; margin-left: 20px;
}
.auction-process-step ul li{
    background: url("../images/icon/mini-3-5.png") no-repeat left center;
    text-indent: 10px; line-height: 22px;
}
.auction-process-step div a span{
    color: #000; background: url("../images/icon/top-28-28.png") no-repeat;
}
.auction-process-step span{
    font-size: 20px; margin-right: 10px; width: 28px;height: 28px; display: block;float: left;
    text-align: center; line-height: 28px;
}
.module-sf{
    width: 1190px; margin: 0 auto; color: #666;
}
.pm-addition{
    margin: 25px 0; position: relative; z-index: 5; border: 1px solid #e6e6e6;
}
.pm-addition .wrap-line{
    position: absolute; height: 2px; font-size: 0; left: -1px; z-index: 12; top: -1px;
}
.pm-addition .wrap-line .line{
    height: 2px; background-color: #d91615; position: absolute; top: 0;
}
.detail-for-remind{
    z-index: 200; height: 56px;
}
.tab-menu{
    height: 55px; background: #f6f6f6; border-bottom: 1px solid #e6e6e6;
}
.tab-menu li.current{
    border-right-color: #e6e6e6!important; background: #fff;
}
.tab-menu li{
    float: left; height: 55px; font-size: 18px; position: relative; top: 1px; z-index: 11;
    font-family: 'Microsoft YaHei',arial tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    border-right: 1px solid #e6e6e6;
}
.tab-menu li.current a{
    color: #d91615;
}
.tab-menu li a{
    display: block;height: 35px;line-height: 35px; padding: 10px 40px; text-decoration: none;
}
.addition-desc, .introduce-bid, .record-list{
    margin: 20px 40px;
}
.pai-title{
    position: relative; text-align: center; height: 50px; padding-top: 40px; padding-bottom: 25px;
}
.pai-title-text{
    font-family: "Microsoft YaHei", "微软雅黑"; font-size: 32px; color: #ad0700; text-align: center;
    background-color: #fff; position: relative; display: inline-block; padding: 0 10px;
}
.pai-title-line{
    border-bottom: 2px solid #b2b2b2; margin-top: -24px;
}
.pai-remind-tip{
    padding: 8px; margin-top: 20px; margin-bottom: 20px;
}
.video-img{
    overflow: hidden; margin-bottom: 20px;
}
.sf-pic-slide.clearfix{
    width: 600px; margin: 10px auto; border: 1px solid #e9e9e9;
}
.sf-pic-slide .slide-bigpic img{
    width: 600px; font-size: 0;display:inline;
}
.detail-common-head{
    height: 32px;line-height: 32px; margin: 40px 0 10px; padding-left: 1px; color: #333;
    background: #f6f6f6; font-weight: 700; font-size: 14px; border-left: solid 2px #d91615;
    font-family: 'Microsoft YaHei',arial tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.addition-desc .detail-common-text{
    text-indent: 1em;
}
.record-table{
    width: 800px; margin: 25px auto 2px; border-collapse: collapse; text-align: center;
}
.record-table tr td, .record-table tr th{
    text-align: center; border-bottom: solid 1px #e9e9e9; vertical-align: middle; padding: 15px 0;
    color: #848484;
}
.record-table .bid-number{
    width: 190px;
}
.record-table .offer-price{
    width: 200px;
}
.record-table .price-time{
    width: 280px;
}
.user_info{
    background-color: #fff; width: 510px; position: absolute;;
}
.seller_info{
    margin-left: 20px; padding: 20px 0;
}
.seller_info p{
    margin: 20px 0; font-weight: 900;
}