<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>宝贝详情</title>
    <link type="text/css" rel="stylesheet" href="static/styles/reset.css">
    <link type="text/css" rel="stylesheet" href="static/styles/product.css">
    <script type="text/javascript" src="static/scripts/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="static/scripts/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="static/scripts/query.js"></script>
    <script type="text/javascript" src="static/scripts/product.js"></script>
</head>
<body>
<div class="headerBar">
    <div class="topBar">
        <div class="comWidth">
            <div class="leftArea">
                <a href="#" class="collection">收藏校园购</a>
            </div>
            <div class="rightArea">
                欢迎来到校园购！ <a href="login.html" id="loginTags">[登陆]</a><a href="register.html"> [免费注册]</a>
            </div>
        </div>
    </div>
    <div class="logoBar">
        <div class="comWidth">
            <div class="logo fl">
                <a href="#"><img src="static/images/logo2.png" alt="校园购"></a>
            </div>
            <div class="search_box fl">
                <input type="text" class="search_text fl">
                <input type="button" value="搜 索" class="search_btn fr">
            </div>
            <div class="shopCar fr">
                <span class="shopText fl"></span><a href="#"> 购物车</a>
                <span class="shopNum fr"></span><a href="#" class="fr">10</a>
            </div>
        </div>
    </div>
    <div class="navBox">
        <div class="comWidth">
            <div class="shopClass fl">
                <a href="index.html" style="cursor: pointer;color: #fff"><h3> 首&nbsp;&nbsp; 页</h3></a>

            </div>
            <ul class="nav fl">
                <li><a href="product_list.html">图书教辅</a></li>
                <li><a href="#">生活百货</a></li>
                <li><a href="#">遗弃猫狗</a></li>
                <li><a href="#">户外健身</a></li>
                <li><a href="#">工艺品</a></li>
                <li><a href="#">一起购</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="page">
    <div class="grid-c">
        <div class="pm-main clearfix">
            <h1>{{product.name}}</h1>
            <div class="pm-main-1">
                <div class="pm-pic pm-s425">
                    <span class="ks-imagezoom-warp">
                        <img id="F_ImgBooth" src="{{product.pdimg}}" alt="这个是测试">
                        <span class="ks-imagezoom-icon"></span>
                    </span>
                </div>
                <ul id="F_UlThumb" class="pm-thumb clearfix">
                    {% for pdimg in pdimg_list %}   
                    <li class="pm-selected">
                        <div class="pm-pic pm-s80" onclick="javascript:selectphoto(event);">
                            <!-- <a href="javascript:selectphoto(event);"> -->
                                <img src="{{pdimg}}" alt="这个是测试小的"/>
                            <!-- </a> -->
                        </div>
                    </li>
                    {% endfor %}  
                </ul>
                <div class="pm-remind">
                    <span class="pm-apply i-b">
                        <em>0</em> 人报名
                    </span>
                    <span class="pm-separate i-b"> </span>
                    <span class="pm-reminder i-b">
                        <em>43</em> 人设置提醒
                    </span>
                    <span class="pm-separate i-b"> </span>
                    <span class="pm-surround i-b">
                        <em>{{product.likes}}</em> 次围观
                    </span>
                </div>
            </div>
            <div class="pm-main-1 auction-interaction">
                <ul class="pm-bid-eyebrow">
                    <li id="sf-price">
                        <span class="title">当前价</span>
                        <span class="pm-current-price">
                            <em>{{product.money}}</em>
                        </span>
                        <em class="rmb-unit">元</em>
                    </li>
                    <li id="sf-countdown">
                        <span class="title">距结束</span>
                        <span class="countdown">
                            <var>XX</var>
                            <em>天</em>
                            <var>XX</var>
                            <em>时</em>
                            <var>XX</var>
                            <em>分</em>
                            <var>XX</var>
                            <em>秒</em>
                        </span>
                    </li>
                </ul>
                <div class="pm-bid-eye">
                    <span class="status-tip status-ing"></span>
                    <div class="pm-bid pm-before-apply">
                        <dl class="pm-message clearfix">
                            <dt class="pm-h"></dt>
                            <dd>
                                <div class="line">
                                    <a style="cursor: pointer" class="pm-button-new pm-apply-button i-b" name="apply" aria-role="button">我要这个宝贝 ！</a>
                                        <span class="tbc-pm-notify-iconfont"></span>
                                        <span class="pm-subscribe i-b J_Remind tbc-pm-notify-btn tbc-pm-notify-btn-sf-fg">
                                            <a class="btn-unsubscribe" href="#">

                                            <span class="notify-btn-text J_TBC_PN_Btn_Text">结束前提醒</span>
                                        </a></span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="user_info">
                    <div class="seller_info">
                            <p>宝贝出售方： {{user.name}}
                            <p>联系咨询方式：<em>{{user.name}}</em> {{user.userphone}}</p>
                    </div>
                </div>
            </div>
            <div class="pm-bid-right">
                <div class="record-wrap">
                    <h3>竞买记录<span>(<span class="J_Record">0</span>次出价)</span></h3>
                    <div id="J_Record_list" data-from="http://sf.taobao.com/json/get_bid_records.htm?id=43991390909&amp;records_type=minRecords&amp;pause_flag=false">
                        <p class="no-record">无出价记录</p>
                    </div>
                </div>
                <div class="share-wrap">
                    <div class="qr-wrap">
                        <p>扫码用手机出价</p>
                        <img src="http://gqrcode.alicdn.com/img?type=hv&amp;w=124&amp;h=124&amp;text=http://tb.cn/580w6Hy" alt="二维码">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="module">
        <div class="auction-process-container">
        <div class="auction-process">
            <h3><a href="javascript:void(0);">购买流程</a></h3>
            <div class="auction-process-help"><a href="javascript:void(0);">详细流程</a></div>
        </div>
        <div class="auction-process-step-container">
            <div class="auction-process-step">
                <div><a href="javascript:void(0);" target="_blank"><span>1</span>浏览宝贝</a></div>
                <ul>
                    <li><a href="javascript:void(0);" target="_blank">确定是自己需要的</a></li>
                    <li><a href="javascript:void(0);" target="_blank" style="color:#dc2625;">同一校区（重要）</a></li>
                </ul>
            </div>
            <div class="auction-process-step">
                <div><a href="javascript:void(0);" target="_blank"><span>2</span>联系卖家</a></div>
                <ul>
                    <li><a href="javascript:void(0);" target="_blank" style="color:#dc2625;">注意保护隐私！</a></li>
                    <li><a href="javascript:void(0);" target="_blank">不要恶意骚扰卖家</a></li>
                </ul>
            </div>
            <div class="auction-process-step">
                <div><a href="javascript:void(0);" target="_blank"><span>3</span>预约时间</a></div>
                <ul>
                    <li><a href="javascript:void(0);" target="_blank">尽量选择下课后交易</a></li>
                    <li><a href="javascript:void(0);" target="_blank">与卖家商量好金额</a></li>
                </ul>
            </div>
            <div class="auction-process-step">
                <div><a href="javascript:void(0);" target="_blank"><span>4</span>线下验货</a></div>
                <ul>
                    <li><a href="javascript:void(0);" target="_blank" style="color:#dc2625;">注意验收质量！！</a></li>
                    <li><a href="javascript:void(0);8" target="_blank">出价成交规则！</a></li>
                </ul>
            </div>
            <div class="auction-process-step">
                <div><a href="javascript:void(0);" target="_blank"><span>5</span>交易成功</a></div>
                <ul>
                    <li><a href="javascript:void(0);" target="_blank">尽量一次付清</a></li>
                    <li><a href="javascript:void(0);" target="_blank" style="color:#dc2625;">注意交易时的环境</a></li>
                </ul>
            </div>
            <div class="auction-process-step auction-process-step-last">
                <div><a href="javascript:void(0);" target="_blank"><span>6</span>线上评价</a></div>
                <ul>
                    <li><a href="javascript:void(0);" target="_blank">卖家更改交易状态</a></li>
                    <li><a href="javascript:void(0);" target="_blank">买家及时评价</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="grid-c">
        <div class="module-sf">
            <div class="pm-addition clearfix">
                <div class="wrap-line">
                    <span class="line selected1" style="width: 172px; left: 0px;"></span>
                </div>
                <div class="detail-for-remind" style="position: relative; top: 0px; bottom: auto; left: 0px;
                 border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(230, 230, 230);
                  width: 1188px; background-color: rgb(246, 246, 246);">
                    <ul class="tab-menu ks-switchable-nav" id="J_DetailTabMenu">
                        <li class="current first"><a href="#RemindTip"><s></s>宝贝的介绍</a></li>
                        <li><a href="#ItemNotice">购买须知</a></li>
                        <!--<li><a href="#NoticeDetail">出售公告</a></li>-->
                        <li class="last"><a href="#J_RecordContent">购买记录</a></li>
                    </ul>
                </div>
                <div style="visibility: hidden; margin: 0px; padding: 0px; display: none; width: 1188px; height: 56px; float: none;"></div>

                <div id="J_DetailTabMain" class="detail-main">
                    <div class="addition-desc J_Content">
                        <div class="pai-title">
                            <div class="pai-title-text">重要提示</div>
                            <div class="pai-title-line"></div>
                        </div>
                        <div class="pai-remind-tip" style="text-align: center; font-size: 15px">
                            购买宝贝前请务必遵照《购买公告》、《购买须知》要求，进行实物看样、调查物品物信息（如使用状况、他人拥有等）、了解购买支付方式等内容。
                            <br><b>如违反相关规定，您的交易可能会被终止，处罚等后果，请审慎参拍！</b>
                        </div>
                        <div class="pai-title" id="RemindTip">
                            <div class="pai-title-text">宝贝的介绍</div>
                            <div class="pai-title-line"></div>
                        </div>
                        <div class="video-img">
                            <div class="sf-pic-slide clearfix">
                                <div class="slide-bigpic">
                                    <span>
                                        {% for pdimg in pdimg_list %}
                                            <img src="{{pdimg}}" alt="#"/>
                                        {% endfor %}
                                    <!-- <img src="#"><img src="#"><img src="#"> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h2 class="detail-common-head">具体描述</h2>
                        <div id="J_desc" class="detail-common-text clearfix" data-from="#">
                            {{product.description}}
                        </div>
                        <h2 class="detail-common-head">所在校区</h2>
                        <div class="detail-common-text">
                            出售的宝贝所在的校区：{{user.school}}
                        </div>
                    </div>
                    <div class="record-list J_Content" id="ItemNotice">
                        <div class="pai-title">
                            <div class="pai-title-text">购买须知</div>
                            <div class="pai-title-line"></div>
                        </div>
                        <div id="J_ItemNotice" class="detail-common-text" data-from="#">
                            {{product.requirement}}
                        </div>
                    </div>
                    <!-- <div class="introduce-bid J_Content" id="J_RecordContent" has-data="0" data-from="#">
                        <div class="pai-title">
                            <div class="pai-title-text">购买记录</div>
                            <div class="pai-title-line"></div>
                        </div>
                        <table class="record-table" id="J_RecordList">
                            <thead>
                            <tr>
                                <th>状态</th>
                                <th class="bid-number">订单号</th>
                                <th class="offer-price">价格</th>
                                <th class="price-time">时间</th>
                            </tr>
                            </thead>
                            <tbody><tr><td colspan="4">没有更多出价记录...</td></tr></tbody>
                        </table>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>