<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>分类查找</title>
    <link type="text/css" rel="stylesheet" href="static/styles/reset.css">
    <link type="text/css" rel="stylesheet" href="static/styles/product_list.css">
    <script type="text/javascript" src="static/scripts/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="static/scripts/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="static/scripts/query.js"></script>
    <script type="text/javascript" src="static/scripts/nongli.js"></script>
    <script type="text/javascript" src="static/scripts/product_list.js"></script>
</head>
<body>
<div class="headerBar">
    <div class="topBar">
        <div class="comWidth">
            <div class="leftArea">
                <a href="#" class="collection">收藏校园购</a>
            </div>
            <div class="rightArea">
                欢迎来到校园购！ <a href="login.html" id="loginTags">[登陆]</a><a href="register.html"> [免费注册]</a>
            </div>
        </div>
    </div>
    <div class="logoBar">
        <div class="comWidth">
            <div class="logo fl">
                <a href="#"><img src="static/images/logo2.png" alt="校园购"></a>
            </div>
            <div class="search_box fl">
                <form action="Product_Serach/" method="get">
                    <input type="text" class="search_text fl" name="q">
                    <input type="submit" value="搜 索" class="search_btn fr">
                </form>
            </div>
            <div class="shopCar fr">
                <span class="shopText fl"> 购物车</span>
                <span class="shopNum fl">10</span>
            </div>
        </div>
    </div>
    <div class="navBox">
        <div class="comWidth">
            <div class="shopClass fl">
                <h3 ><a href="index.html" style="cursor: pointer"> 首&nbsp;&nbsp; 页</a></h3>
            </div>
            <ul class="nav fl">
                <li><a href="product_list.html?category=100000">图书教辅</a></li>
                <li><a href="product_list.html?category=100000">生活百货</a></li>
                <li><a href="product_list.html?category=100000">遗弃猫狗</a></li>
                <li><a href="product_list.html?category=100000">户外健身</a></li>
                <li><a href="product_list.html?category=100000">工艺品</a></li>
                <li><a href="product_list.html?category=100000">一起购</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="main">

</div>

<div id="loading">
<span class="blank15"></span>
<div class="noresult">
    <p>抱歉！没有找到符合您要求的商品，</p>
    <p>您可以改变搜索关键词或减少分类条件的限制试试。</p>
</div>
</div>

<div class="topBox">
    <div class="navBox">
        <div class="comWidth">
            <div class="shopClass fl">
                <h3 ><a href="index.html" style="cursor: pointer"> 首&nbsp;&nbsp; 页</a></h3>
            </div>
            <ul class="nav fl">
                <li><a href="#" class="active">图书教辅</a></li>
                <li><a href="#">生活百货</a></li>
                <li><a href="#">遗弃猫狗</a></li>
                <li><a href="#">户外健身</a></li>
                <li><a href="#">工艺品</a></li>
                <li><a href="#">一起购</a></li>
            </ul>
        </div>
        <div class="returnBox">
            <div class="returnTop fl" style="padding: 5px; cursor: pointer;"></div>
            <div class="tellme fl" style="padding-left: 20px"></div>
        </div>
    </div>
</div>
<div id="sidebar">
    <ul>
        <li id="prof" class="item">
            <div class="prof_i"></div>
            <div>我</div>
        </li>
        <li id="asset" class="item">
            <div class="asset_i"></div>
            <div>资产</div>
        </li>
        <li id="brand" class="item">
            <div class="brand_i"></div>
            <div>品牌</div>
        </li>
        <li id="broadcast" class="item">
            <div class="broadcast_i"></div>
            <div>直播</div>
        </li>
        <li id="foot" class="item">
            <div class="foot_i"></div>
            <div>看过</div>
        </li>
        <li id="calendar" class="item">
            <div class="calendar_i"></div>
            <div>日历</div>
        </li>
    </ul>
</div>
<div class="nav-content" id="prof-content">
    <div class="nav-con-close">
        <div class="close_i"></div>
    </div>
</div>
<div class="nav-content" id="asset-content">
    <div class="nav-con-close">
        <div class="close_i"></div>
    </div>
</div>
<div class="nav-content" id="brand-content">
    <div class="nav-con-close">
        <div class="close_i"></div>
    </div>
</div>
<div class="nav-content" id="broadcast-content">
    <div class="nav-con-close">
        <div class="close_i"></div>
    </div>
</div>
<div class="nav-content" id="foot-content">
    <div class="nav-con-close">
        <div class="close_i"></div>
    </div>
</div>
<div class="nav-content" id="calendar-content">
    <div class="nav-con-close">
        <div class="close_i"></div>
    </div>
</div>
</body>
</html>